<main>
    <header class="brand-name">
        <!-- routerLink is from RouterModule (imported in app.component.ts); href can be used instead -->
        <a routerLink="">
            <img class="brand-logo" src="../assets/logo.svg"
                                    alt="logo"
                                    aria-hidden="true">
        </a>
    </header>
    <section class="content">
        <!-- Router directive <router-outlet> determines which views to show based on the route -->
        <router-outlet></router-outlet>
    </section>
</main>