<article>
    <!-- Housing location deatils -->
    <img
        class="listing-photo"
        [src]="housingLocation?.photo"
        alt="Exterior photo of {{ housingLocation?.name }}"
        crossorigin/>

    <section class="listing-description">
        <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
        <p class="listing-location">{{ housingLocation?.city }}, {{ housingLocation?.state }}</p>
    </section>
    <section class="listing-features">
        <h2 class="section-heading">About this housing location</h2>
        <ul>
            <li>Units available: {{ housingLocation?.availableUnits }}</li>
            <li>Does this location have wifi: {{ housingLocation?.wifi }}</li>
            <li>Does this location have laundry: {{ housingLocation?.laundry }}</li>
        </ul>
    </section>
    <br>
    <br>   

    <!-- Application Form -->
    <section class="listing-apply">
        <h2 class="section-heading">Apply to live here</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
            <!-- first name -->
            <label for="first-name">First name</label>
            <input id="first-name" type="text" formControlName="firstName">

            <!-- last name -->
            <label for="last-name">Last name</label>
            <input id="last-name" type="text" formControlName="lastName">

            <!-- email -->
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email">

            <button class="primary" type="submit">Apply</button>
        </form>

        <!-- Confirmation message -->
        <div *ngIf="formSubmitted">
            <br>
            Your application is submitted!
        </div>
    </section>
</article>